.header {
  position: relative;
  box-sizing: border-box;
  background: #073042;
  padding: 18px 70px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.header__logo {
  margin: auto auto auto 0;
  opacity: 1;
  transition: opacity 0.3s;
}

@media(max-width: 992px) {
  .header {
      padding: 18px 30px;
  }
}

@media(max-width: 720px) {
  .header {
      padding: 18px 14px;
  }
}

.header_type_white {
  background-color: #FAFAFA;
}

